body{
    background-image: url("../image/background");
    background-size: cover;
    background-position: center;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;

}

main { 
        background-image: url("../image/background");
        background-size: cover; 
        background-position: center; 
        height: 100vh; 
        justify-content: center;
        align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Estilos para a div do formulário de destino */
.booking-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.booking-form h2 {
    text-align: center;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
}

.booking-form input[type="text"],
.booking-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.booking-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #080808;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0056b3;
}


